name: prek

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run prek
      uses: j178/prek-action@v1
